### 2D-Visualization for Bachelors Thesis

### Importing the needed Packages:

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.backends.backend_pdf import PdfPages
from datetime import datetime

### Loading and Pre-Processing the Data sets:

In [3]:
energy_mix = pd.read_csv("Data/energy-consumption-by-source-and-country.csv")
energy_mix_austria = energy_mix.loc[energy_mix['Entity'] == "Austria"]
energy_mix_austria_1990 = energy_mix_austria.loc[energy_mix_austria["Year"] >= 1990]
#energy_mix_austria_1990

In [56]:
co2_by_source = pd.read_csv("Data/co2-by-source.csv")
co2_by_source_austria = co2_by_source.loc[co2_by_source['Entity'] == "Austria"]
co2_by_source_austria_1990 = co2_by_source_austria.loc[co2_by_source_austria['Year'] >= 1990]
co2_by_source_austria_1990_gco = co2_by_source_austria_1990.iloc[:, [2, 6, 7, 8]]
#co2_by_source_austria_1990_gco

In [68]:
co2_per_unit = pd.read_csv("Data/co2-per-unit-energy.csv")
co2_per_unit_austria = co2_per_unit.loc[co2_per_unit['Entity'] == "Austria"]
co2_per_unit_austria_1990 = co2_per_unit_austria.loc[co2_per_unit_austria['Year'] >= 1990]
co2_per_unit_austria_1990

,Entity,Code,Year,Annual COâ‚‚ emissions per unit energy (kg per kilowatt-hour)
628,Austria,AUT,1990,0.185481
629,Austria,AUT,1991,0.187093
630,Austria,AUT,1992,0.174194
631,Austria,AUT,1993,0.172360
632,Austria,AUT,1994,0.174491
633,Austria,AUT,1995,0.174492
634,Austria,AUT,1996,0.183368
635,Austria,AUT,1997,0.179299
636,Austria,AUT,1998,0.175513
637,Austria,AUT,1999,0.168367
638,Austria,AUT,2000,0.169057
639,Austria,AUT,2001,0.173106
640,Austria,AUT,2002,0.177275
641,Austria,AUT,2003,0.188668
642,Austria,AUT,2004,0.185941
643,Austria,AUT,2005,0.185911
644,Austria,AUT,2006,0.182460
645,Austria,AUT,2007,0.179901
646,Austria,AUT,2008,0.174985
647,Austria,AUT,2009,0.165457
648,Austria,AUT,2010,0.171406
649,Austria,AUT,2011,0.176508
650,Austria,AUT,2012,0.162314
651,Austria,AUT,2013,0.164824
652,Austria,AUT,2014,0.162554
653,Austria,AUT,2015,0.168080
654,Austria,AUT,2016,0.164778
655,Austria,AUT,2017,0.166846
656,Austria,AUT,2018,0.163041
657,Austria,AUT,2019,0.158396
658,Austria,AUT,2020,0.154876
659,Austria,AUT,2021,0.163556
660,Austria,AUT,2022,0.161137

### Join the data frames

In [35]:
energy_data = pd.merge(energy_mix_austria_1990, co2_by_source_austria_1990_gco, on='Year', how='inner')
energy_data = energy_data.iloc[:, 2:]
energy_data

,Year,Other renewables (including geothermal and biomass) - TWh,Biofuels consumption - TWh,Solar consumption - TWh,Wind consumption - TWh,Hydro consumption - TWh,Nuclear consumption - TWh,Gas consumption - TWh,Coal consumption - TWh,Oil consumption - TWh,Annual COâ‚‚ emissions from gas,Annual COâ‚‚ emissions from oil,Annual COâ‚‚ emissions from coal
0,1990,3.647045,0.073779,0.000000,0.000000,93.171770,0.0,61.934902,47.640278,128.69968,11836296.0,28899434.0,18138572.0
1,1991,3.913106,0.081890,0.000000,0.000000,92.977800,0.0,65.664185,49.971664,138.90470,12501283.0,31406986.0,18699346.0
2,1992,4.242963,0.090698,0.000000,0.000000,103.046350,0.0,64.482230,38.881744,135.22690,12518638.0,30152022.0,14385857.0
3,1993,4.344944,0.104259,0.002957,0.000000,108.537926,0.0,67.812454,34.959053,136.36340,13022035.0,31264846.0,13273662.0
4,1994,3.864339,0.073512,0.002957,0.000000,105.586690,0.0,69.751490,35.454445,135.23600,13655744.0,30713752.0,13456497.0
5,1995,5.928628,0.131228,0.002957,0.002957,109.607376,0.0,76.157160,40.338642,134.86182,14899087.0,30851660.0,15423285.0
6,1996,5.073830,0.128700,0.002957,0.014785,101.176674,0.0,81.060875,40.509910,139.53622,15796022.0,33777004.0,15067890.0
7,1997,5.463103,0.152416,0.005914,0.059140,106.762920,0.0,78.125720,42.967970,141.73091,15300357.0,32851834.0,16155693.0
8,1998,5.882520,0.155921,0.005914,0.133064,109.891570,0.0,80.207280,37.829166,147.17671,15717101.0,34659612.0,13706165.0
9,1999,5.097669,0.183532,0.005914,0.150806,120.346855,0.0,81.927630,37.684980,144.65129,16101723.0,32832798.0,13875090.0
10,2000,4.878580,0.197946,0.008871,0.198118,123.707565,0.0,78.205150,42.470078,141.74934,15266094.0,32163170.0,15752621.0
11,2001,5.323996,0.227073,0.014689,0.505299,118.849625,0.0,82.881966,43.878994,153.68556,16157637.0,34410864.0,16563696.0
12,2002,4.852394,0.234929,0.026270,0.592523,117.415960,0.0,81.485370,44.579712,156.81978,16070299.0,36057028.0,16736631.0
13,2003,5.463574,0.243800,0.043502,1.061445,96.327590,0.0,89.629715,47.547690,169.93642,17268124.0,39082064.0,18022592.0
14,2004,6.574225,0.248541,0.051870,2.662646,105.936104,0.0,90.492330,46.576305,165.32832,17662322.0,39099892.0,17765950.0
15,2005,7.788412,0.945556,0.060184,3.811996,106.218720,0.0,95.277060,46.730534,164.62627,18700774.0,39393040.0,17861760.0
16,2006,10.388463,3.396806,0.063700,4.987406,101.455990,0.0,89.532005,46.674830,164.50961,17496976.0,38132296.0,17865266.0
17,2007,13.020247,3.955125,0.068537,5.760387,104.775950,0.0,84.708954,45.044926,154.65794,16495413.0,36623640.0,17455148.0
18,2008,13.336185,4.807884,0.084639,5.651750,107.708090,0.0,90.685540,44.524986,153.21024,17436060.0,35480636.0,17028334.0
19,2009,13.708953,6.101159,0.136604,5.457072,114.211590,0.0,88.319140,33.460773,145.44965,17035762.0,34415548.0,12832833.0
20,2010,14.364581,5.946622,0.246508,5.728555,106.480690,0.0,96.128120,39.343660,151.91782,18779364.0,34798216.0,15501043.0
21,2011,14.594862,5.976356,0.480199,5.341407,94.448524,0.0,90.418070,40.411076,144.39825,17731132.0,33285106.0,15819384.0
22,2012,14.975100,5.913144,0.925357,6.750725,120.227554,0.0,86.241410,37.621000,141.86986,16946164.0,32642372.0,14687176.0
23,2013,15.035977,5.203569,1.706041,8.593873,114.513115,0.0,82.004610,38.131490,146.01463,16332384.0,33460548.0,14960277.0
24,2014,14.561051,6.466801,2.127308,10.418562,111.092620,0.0,75.109760,35.021380,140.00055,14946754.0,32423874.0,13802023.0
25,2015,14.884029,7.702740,2.523579,13.034909,100.062416,0.0,79.680950,37.999046,138.95682,15967142.0,32998848.0,14372978.0
26,2016,15.308269,6.384036,2.934076,14.013859,107.004776,0.0,83.421900,35.447730,143.46887,16736952.0,34109844.0,13334845.0
27,2017,15.748486,5.568790,3.377100,17.488697,101.910780,0.0,90.698540,36.564552,145.84715,17974628.0,34546344.0,14023157.0
28,2018,15.780004,5.817271,3.849882,15.954870,99.579640,0.0,86.869190,32.284960,148.17715,17019492.0,34085120.0,12295195.0
29,2019,14.901927,5.851623,4.486670,19.638197,107.616130,0.0,89.004410,33.944680,153.58403,17792616.0,34087330.0,13005251.0
30,2020,14.687721,4.976821,5.365335,17.836521,110.298970,0.0,85.272484,29.031853,133.63222,16876938.0,30712898.0,11393343.0
31,2021,14.337845,4.996384,7.281170,17.636510,101.399710,0.0,90.138700,29.934498,137.91971,17839484.0,31462606.0,12269229.0

### Data manipulation of the energy mix data set for a 3D Bar Map

In [39]:
# melt data frame
energy_consumption = energy_data.iloc[:, :9]
energy_consumption = energy_consumption.melt(id_vars=['Year'], var_name='Energy_Type', value_name='Consumption')
energy_consumption

     Year                                        Energy_Type  Consumption
0    1990  Other renewables (including geothermal and bio...     3.647045
1    1991  Other renewables (including geothermal and bio...     3.913106
2    1992  Other renewables (including geothermal and bio...     4.242963
3    1993  Other renewables (including geothermal and bio...     4.344944
4    1994  Other renewables (including geothermal and bio...     3.864339
..    ...                                                ...          ...
251  2017                             Coal consumption - TWh    36.564552
252  2018                             Coal consumption - TWh    32.284960
253  2019                             Coal consumption - TWh    33.944680
254  2020                             Coal consumption - TWh    29.031853
255  2021                             Coal consumption - TWh    29.934498

[256 rows x 3 columns]

### Data manipulation of the CO2 data set for a 3D Cylinder Chart

In [53]:
combined_co2 = co2_by_source_austria_1990_gco.melt(id_vars=['Year'], var_name='Emission_Type', value_name='Emission')
combined_co2 = combined_co2.iloc[:,1:]
combined_co2 = combined_co2.groupby('Emission_Type').sum()
combined_co2

                                    Emission
Emission_Type
Annual COâ‚‚ emissions from coal  4.855308e+08
Annual COâ‚‚ emissions from gas   5.158808e+08
Annual COâ‚‚ emissions from oil   1.080881e+09

### Saving the data as JSON files for 3D-Visualisation

In [54]:
energy_mix_austria_1990.to_json("Energy_mix_austria_1990.json", orient='records')
co2_by_source_austria_1990_gco.to_json("co2_by_source_austria_1990_gco.json", orient='records')
energy_data.to_json("energy_data.json", orient='records')
energy_consumption.to_json("energy_consumption.json", orient="records")
combined_co2.to_json("Combined_co2.json", orient="records")

### Plots

In [48]:
with PdfPages('2D-Visualizations_Energy-Mix_CO2-Emission-By-Source.pdf') as pdf:
    # Energy Plot
    fig1, ax1 = plt.subplots(figsize=(15, 8))  # Create a new figure and set the size
    for column in energy_mix_austria_1990.columns[3:]:
        ax1.plot(energy_mix_austria_1990['Year'], energy_mix_austria_1990[column], label=column)

    ax1.set_title('Different Energy Sources From 1990 - 2022 in Terrawatt-Hours (TWh)')
    ax1.set_xlabel('Year')
    ax1.set_ylabel('TWh')
    ax1.legend()
    ax1.grid(True)
    pdf.savefig(fig1)  # Save the figure to the PDF
    plt.close(fig1)  # Close the figure to free memory

    # CO2 Plot
    fig2, ax2 = plt.subplots(figsize=(15, 8))  # Create another new figure and set the size
    for column in co2_by_source_austria_1990_gco.columns[1:]:
        ax2.plot(co2_by_source_austria_1990_gco['Year'], co2_by_source_austria_1990_gco[column], label=column)

    ax2.set_title('CO2 Emissions from different Energy Sources between 1990 and 2021 in Million-Tonnes (million t)')
    ax2.set_xlabel('Year')
    ax2.set_ylabel('million t')
    ax2.legend()
    ax2.grid(True)
    pdf.savefig(fig2)  # Save the second figure to the PDF
    plt.close(fig2)  # Close the figure

    # Adding metadata to the PDF
    d = pdf.infodict()
    d['Title'] = '2D-Visualizations_Energy-Mix_CO2-Emission-By-Source'
    d['Author'] = 'Stefan Holzer'
    d['Subject'] = "Immersive Energy Data Visualization: Comparing 3-Dimensional Virtual Reality with Traditional 2-Dimensional Displays through Austria's Energy Choices and Environmental Impacts"
    d['CreationDate'] = datetime.today()
    d['ModDate'] = datetime.today()